<div class="text-center p-4">
  <h2>Confirm your email</h2>
  <p>
    Please enter verification code sent to <b>{{ email }}</b> to continue.
  </p>
</div>

<form [formGroup]="confirmSignUpForm">
  <div class="form-group row justify-content-center m-3">
    <div class="col-10 col-md-6">
      <input
        type="text"
        class="form-control"
        placeholder="Enter verification code"
        formControlName="code"
        name="code"
        required
      />
    </div>
  </div>

  <div class="form-group row justify-content-center m-3 text-center">
    <div class="col-10 col-md-6">
      <button class="btn btn-default w-100 p-3" (click)="onConfirmSignUp()">
        Verify
      </button>
    </div>
  </div>
</form>

<div class="text-center p-3">
  <small>
    Didn't get the code?
    <a (click)="onResendCode()" style="cursor: pointer; color: blue"
      >Resend it here.</a
    >
  </small>
</div>
<div class="form-group row justify-content-center m-3">
  @if (resendCodeAlert) {
  <div class="alert alert-success text-center col-10 col-md-6" role="alert">
    A new verification code has been sent to your email. Please check your
    inbox.
  </div>
  }
</div>

<div class="text-center p-3">
  <small>Back to <a href="/auth/sign-in">login</a></small>
</div>
