<div class="text-center m-3">
  <h4>Sign Up to Saldo Sensei</h4>
</div>
<form [formGroup]="signUpForm" class="needs-validation" novalidate>
  <div class="form-group row justify-content-center m-3">
    <div class="col-10 col-md-6">
      <label for="firstname" class="form-label">First name</label>
      <input
        type="text"
        class="form-control"
        placeholder="Enter your first name"
        name="firstname"
        formControlName="given_name"
        required
      />
      <div class="invalid-feedback">First name is required</div>
    </div>
  </div>
  <div class="form-group row justify-content-center m-3">
    <div class="col-10 col-md-6">
      <label for="lastname" class="form-label">Last name</label>
      <input
        type="text"
        class="form-control"
        placeholder="Enter your last name"
        name="lastname"
        formControlName="family_name"
        required
      />
      <div class="invalid-feedback">Last name is required</div>
    </div>
  </div>
  <div class="form-group row justify-content-center m-3">
    <div class="col-10 col-md-6">
      <label for="email" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        placeholder="Enter your email"
        name="email"
        formControlName="email"
        required
      />
      @if (signUpForm.get('email')?.touched &&
      signUpForm.get('email')?.hasError('required') ) {
      <div class="invalid-feedback">Email is required</div>
      } @else if (signUpForm.get('email')?.hasError('email')) {
      <div class="invalid-feedback">Enter a valid email</div>
      }
    </div>
  </div>
  <div class="form-group row justify-content-center m-3">
    <div class="col-10 col-md-6">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        placeholder="Enter your password"
        name="password"
        formControlName="password"
        required
      />
      @if (signUpForm.get('password')?.touched &&
      signUpForm.get('password')?.hasError('required') ) {
      <div class="invalid-feedback">Password is required</div>
      } @else if (signUpForm.get('password')?.hasError('minlength')) {
      <div class="invalid-feedback">
        Password must be at least 8 characters long
      </div>
      } @else if (signUpForm.get('password')?.hasError('pattern')) {
      <div class="invalid-feedback">
        Password must contain at least one uppercase letter and one number
      </div>
      }
    </div>
  </div>

  <div class="form-group row justify-content-center m-3">
    <div class="col-10 col-md-6">
      <button
        class="btn btn-default w-100 p-3 mt-3"
        (click)="onSignUp()"
        [disabled]="this.signUpForm.invalid"
      >
        Sign Up
      </button>
    </div>
  </div>
</form>
