<form>
  <div class="form-group row justify-content-center m-3">
    <div class="col-10 col-md-6">
      <label for="firstname" class="form-label">First name</label>
      <input
        type="text"
        class="form-control"
        placeholder="Enter your first name"
      />
    </div>
  </div>
  <div class="form-group row justify-content-center m-3">
    <div class="col-10 col-md-6">
      <label for="lastname" class="form-label">Last name</label>
      <input
        type="text"
        class="form-control"
        placeholder="Enter your last name"
      />
    </div>
  </div>
  <div class="form-group row justify-content-center m-3">
    <div class="col-10 col-md-6">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control" placeholder="Enter your email" />
    </div>
  </div>
  <div class="form-group row justify-content-center m-3">
    <div class="col-10 col-md-6">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        placeholder="Enter your password"
      />
    </div>
  </div>

  <div class="form-group row justify-content-center m-3">
    <div class="col-10 col-md-6">
      <button type="submit" class="btn btn-default w-100 p-3">Sign Up</button>
    </div>
  </div>
</form>
